body {
    background-image: url("../images/pratchett1.jpg");
    background-size: 70%;
}

h1 {
    text-align: center;
    font-family: "Mountains of Christmas", cursive;
    font-size: 120px;
}

p {
    font-family: "Mountains of Christmas", cursive;
    font-size: 60px;
    text-align: left;
}

#box1 {
background-color: black;
color: #DBBA85;
}

#box2 {
    background-color: black;
    color: #DBBA85;
    }